<div class="sk-circle" *ngIf="isLoading">
  <div class="sk-circle1 sk-child"></div>
  <div class="sk-circle2 sk-child"></div>
  <div class="sk-circle3 sk-child"></div>
  <div class="sk-circle4 sk-child"></div>
  <div class="sk-circle5 sk-child"></div>
  <div class="sk-circle6 sk-child"></div>
  <div class="sk-circle7 sk-child"></div>
  <div class="sk-circle8 sk-child"></div>
  <div class="sk-circle9 sk-child"></div>
  <div class="sk-circle10 sk-child"></div>
  <div class="sk-circle11 sk-child"></div>
  <div class="sk-circle12 sk-child"></div>
</div>
<p class="h4 text-center" *ngIf="!isShowing && !isLoading">{{'HEADER.PREDICTION_PERIOD' | translate}}</p>
<div class="row" style="margin: 10px 0 0 0;" *ngIf="!isLoading">
  <div class="col-6">
    <div class="col-6">
      <form [formGroup]="currencyForm" (ngSubmit)="onClickSubmit()">
        <div class="form-group">
          <label for="code" class="col-form-label">{{'FORM.CURRENCY' | translate}}</label>
            <select id="code" name="code" class="form-control" type="text" formControlName="code">
              <option value="" selected disabled hidden>{{'FORM.CHOOSE' | translate}}</option>
              <option *ngFor="let code of currencyCodes" value="{{code}}">{{'CURRENCY.' + code | translate}}</option>
            </select>
          <label for="date" class="col-form-label">{{'FORM.END_DATE' | translate}}</label>
          <input id="date" name="date" class="form-control" type="date" formControlName="date" [min]="minDate" [max]="maxDate">
        </div>
        <button [disabled]="currencyForm.invalid" type="submit" class="btn btn-primary width-100">{{'FORM.SUBMIT' | translate}}</button>
      </form>
    </div>
    <fusioncharts *ngIf="isShowing && currencies.length > 1" width="700" height="400" type="scrollline2d" [dataSource]="dataSource"></fusioncharts>
  </div>
  <div class="col-6" *ngIf="isShowing">
    <p class="h4 text-center">{{'TABLE.PREDICTION_HEADER_PERIOD' | translate}} {{'CURRENCY_HEADER.' + currenciesCode | translate}} {{'TABLE.FOR_PERIOD' | translate}}</p>
    <p class="h4 text-center">({{startDate | date: 'dd.MM.yyyy'}} - {{endDate | date: 'dd.MM.yyyy'}})</p>
    <div class="table-wrapper-scroll-y">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-center width-30">{{'TABLE.DATE' | translate}}</th>
            <th scope="col" class="text-center width-30">{{'TABLE.PRICE' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let currency of currencies">
            <td class="text-center width-30 font-weight-bold">{{currency.ExchangeRateDate | date: 'dd.MM.yyyy'}}</td>
            <td class="text-center width-30">{{currency.Mid}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>