<div class="sk-circle" *ngIf="isLoading">
  <div class="sk-circle1 sk-child"></div>
  <div class="sk-circle2 sk-child"></div>
  <div class="sk-circle3 sk-child"></div>
  <div class="sk-circle4 sk-child"></div>
  <div class="sk-circle5 sk-child"></div>
  <div class="sk-circle6 sk-child"></div>
  <div class="sk-circle7 sk-child"></div>
  <div class="sk-circle8 sk-child"></div>
  <div class="sk-circle9 sk-child"></div>
  <div class="sk-circle10 sk-child"></div>
  <div class="sk-circle11 sk-child"></div>
  <div class="sk-circle12 sk-child"></div>
</div>
<div class="row" style="margin: 10px 0 0 0;" *ngIf="!isLoading">
  <div class="col-6 text-center">
    <p class="h3">{{'MAIN.HEADER' | translate}}</p>
    <p></p>
    <p>{{'MAIN.DESCRIPTION_FIRST' | translate}}</p>
    <p>{{'MAIN.DESCRIPTION_SECOND' | translate}}</p>
  </div>
  <div class="col-6">
    <p class="h4 text-center">{{'TABLE.HISTORICAL_HEADER_ALL' | translate}} {{currenciesDate | date: 'dd.MM.yyyy'}}</p>
    <div class="table-wrapper-scroll-y">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-center width-40">{{'TABLE.CURRENCY' | translate}}</th>
            <th scope="col" class="text-center width-30">{{'TABLE.CURRENCY_CODE' | translate}}</th>
            <th scope="col" class="text-center width-30">{{'TABLE.PRICE' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let currency of currencies">
            <td class="text-center width-40 font-weight-bold">{{'CURRENCY.' + currency.Code | translate}}</td>
            <td class="text-center width-30">{{currency.Code}}</td>
            <td class="text-center width-30">{{currency.Mid}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
