<nav class="navbar navbar-expand-lg {{style}}">
  <a class="navbar-brand" routerLink='/'>{{'NAVBAR.HOME_PAGE' | translate}}</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{'NAVBAR.HISTORICAL_EXCHANGE_RATES' | translate}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="historical-day">{{'NAVBAR.DAY' | translate}}</a>
          <a class="dropdown-item" routerLink="historical-period">{{'NAVBAR.PERIOD' | translate}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{'NAVBAR.PREDICTION_EXCHANGE_RATES' | translate}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="prediction-day">{{'NAVBAR.DAY' | translate}}</a>
          <a class="dropdown-item" routerLink="prediction-period">{{'NAVBAR.PERIOD' | translate}}</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav" style="border-right: 1px solid black;">
      <li class="nav-item"><a class="dropdown-item" (click)="changeStyle('navbar-orange')"><img height="20" width="30" src="./assets/pic/orange.png"></a></li>
      <li class="nav-item"><a class="dropdown-item" (click)="changeStyle('navbar-black')"><img height="20" width="30" src="./assets/pic/black.png"></a></li>
      <li class="nav-item"><a class="dropdown-item" (click)="changeStyle('navbar-blue')"><img height="20" width="30" src="./assets/pic/blue.png"></a></li>
    </ul>
    <ul class="navbar-nav" style="border-right: 1px solid black;">
      <li class="nav-item"><a class="dropdown-item" (click)="changeLanguage('pl')"><img height="20" width="30" src="./assets/pic/pl.png"></a></li>
      <li class="nav-item"><a class="dropdown-item" (click)="changeLanguage('en')"><img height="20" width="30" src="./assets/pic/gb.png"></a></li>
    </ul>
    <ul class="navbar-nav" *ngIf="!name">
      <li class="nav-item">
        <a class="nav-link" routerLink="sign-up" href="#">{{'NAVBAR.SIGNUP' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="sign-in" href="#">{{'NAVBAR.SIGNIN' | translate}}</a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="name">
      <li class="nav-item">
        <a class="nav-link" style="cursor:default" href="#">{{'NAVBAR.WELCOME' | translate}}{{name}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" href="#">{{'NAVBAR.LOGOUT' | translate}}</a>
      </li>
    </ul>
  </div>
</nav>