/* You can add global styles to this file, and also import other style files */
.navbar-orange {
  background-color: #e74c3c;
}
.navbar-orange .navbar-brand {
  color: #ecf0f1;
}
.navbar-orange .navbar-brand:hover,
.navbar-orange .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-orange .navbar-text {
  color: #ecf0f1;
}
.navbar-orange .navbar-text a {
  color: #ffbbbc;
}
.navbar-orange .navbar-text a:hover,
.navbar-orange .navbar-text a:focus {
  color: #ffbbbc; 
}
.navbar-orange .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar-orange .navbar-nav .nav-link:not(.disabled):hover,
.navbar-orange .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffbbbc;
}
.navbar-orange .navbar-nav .dropdown-menu {
  background-color: #e74c3c;
  border-color: #c0392b;
}
.navbar-orange .navbar-nav .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-orange .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-orange .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-orange .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-orange .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #c0392b;
}
.navbar-orange .navbar-nav .nav-item.active .nav-link,
.navbar-orange .navbar-nav .nav-item.active .nav-link:hover,
.navbar-orange .navbar-nav .nav-item.active .nav-link:focus,
.navbar-orange .navbar-nav .nav-item.show .nav-link,
.navbar-orange .navbar-nav .nav-item.show .nav-link:hover,
.navbar-orange .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-orange .navbar-toggle {
  border-color: #c0392b;
}
.navbar-orange .navbar-toggle:hover,
.navbar-orange .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-orange .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar-orange .navbar-collapse,
.navbar-orange .navbar-form {
  border-color: #ecf0f1;
}
.navbar-orange .navbar-link {
  color: #ecf0f1;
}
.navbar-orange .navbar-link:hover {
  color: #ffbbbc;
}

.navbar-black {
  background-color: #292929;
}
.navbar-black .navbar-brand {
  color: #ecf0f1;
}
.navbar-black .navbar-brand:hover,
.navbar-black .navbar-brand:focus {
  color: #6d6d6d;
}
.navbar-black .navbar-text {
  color: #ecf0f1;
}
.navbar-black .navbar-text a {
  color: #ececec;
}
.navbar-black .navbar-text a:hover,
.navbar-black .navbar-text a:focus {
  color: #ececec; 
}
.navbar-black .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar-black .navbar-nav .nav-link:not(.disabled):hover,
.navbar-black .navbar-nav .nav-link:not(.disabled):focus {
  color: #ececec;
}
.navbar-black .navbar-nav .dropdown-menu {
  background-color: #292929;
  border-color: #585858;
}
.navbar-black .navbar-nav .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-black .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-black .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-black .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #6d6d6d;
  background-color: #474747;
}
.navbar-black .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #585858;
}
.navbar-black .navbar-nav .nav-item.active .nav-link,
.navbar-black .navbar-nav .nav-item.active .nav-link:hover,
.navbar-black .navbar-nav .nav-item.active .nav-link:focus,
.navbar-black .navbar-nav .nav-item.show .nav-link,
.navbar-black .navbar-nav .nav-item.show .nav-link:hover,
.navbar-black .navbar-nav .nav-item.show .nav-link:focus {
  color: #ececec;
  background-color: #585858;
}
.navbar-black .navbar-toggle {
  border-color: #585858;
}
.navbar-black .navbar-toggle:hover,
.navbar-black .navbar-toggle:focus {
  background-color: #585858;
}
.navbar-black .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar-black .navbar-collapse,
.navbar-black .navbar-form {
  border-color: #ecf0f1;
}
.navbar-black .navbar-link {
  color: #ecf0f1;
}
.navbar-black .navbar-link:hover {
  color: #ececec;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffbbbc;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffbbbc;
  background-color: #c0392b;
}

.navbar-blue {
  background-color: #236dff;
}
.navbar-blue .navbar-brand {
  color: #ecf0f1;
}
.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
  color: #6d9bf7;
}
.navbar-blue .navbar-text {
  color: #ecf0f1;
}
.navbar-blue .navbar-text a {
  color: #ececec;
}
.navbar-blue .navbar-text a:hover,
.navbar-blue .navbar-text a:focus {
  color: #ececec; 
}
.navbar-blue .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar-blue .navbar-nav .nav-link:not(.disabled):hover,
.navbar-blue .navbar-nav .nav-link:not(.disabled):focus {
  color: #ececec;
}
.navbar-blue .navbar-nav .dropdown-menu {
  background-color: #236dff;
  border-color: #0b65f6;
}
.navbar-blue .navbar-nav .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-blue .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-blue .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-blue .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #6d9bf7;
  background-color: #0b65f6;
}
.navbar-blue .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #0b65f6;
}
.navbar-blue .navbar-nav .nav-item.active .nav-link,
.navbar-blue .navbar-nav .nav-item.active .nav-link:hover,
.navbar-blue .navbar-nav .nav-item.active .nav-link:focus,
.navbar-blue .navbar-nav .nav-item.show .nav-link,
.navbar-blue .navbar-nav .nav-item.show .nav-link:hover,
.navbar-blue .navbar-nav .nav-item.show .nav-link:focus {
  color: #ececec;
  background-color: #0b65f6;
}
.navbar-blue .navbar-toggle {
  border-color: #0b65f6;
}
.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
  background-color: #0b65f6;
}
.navbar-blue .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar-blue .navbar-collapse,
.navbar-blue .navbar-form {
  border-color: #ecf0f1;
}
.navbar-blue .navbar-link {
  color: #ecf0f1;
}
.navbar-blue .navbar-link:hover {
  color: #ececec;
}

.width-100 {
  width: 100%;
}
.width-40 {
  width: 40%;
}
.width-30 {
  width: 30%;
}
.table-wrapper-scroll-y {
  display: block;
  max-height: 75vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.sk-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }
  .sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
            animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  }
  .sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }
  .sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg); }
  .sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }
  .sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }
  .sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg); }
  .sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg); }
  .sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg); }
  .sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); }
  .sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); }
  .sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
  .sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
  .sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
  .sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
  .sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s; }
  
  @-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }