<p class="h4 text-center" *ngIf="!isShowing && !isLoading">{{'HEADER.SIGNUP' | translate}}</p>
<div class="row" style="margin: 10px 0 0 0;">
  <div class="col-6">
    <div class="col-6">
      <form [formGroup]="userForm" (ngSubmit)="onClickSubmit()">
        <div class="form-group">
          <label for="name" class="col-form-label">{{'FORM.NAME' | translate}}</label>
          <input id="name" name="name" class="form-control" type="text" formControlName="name">
          <label for="email" class="col-form-label">{{'FORM.EMAIL' | translate}}</label>
          <input id="email" name="email" class="form-control" type="text" formControlName="email">
          <label for="password" class="col-form-label">{{'FORM.PASSWORD' | translate}}</label>
          <input id="password" name="password" class="form-control" type="password" formControlName="password">
        </div>
        <button [disabled]="userForm.invalid" type="submit" class="btn btn-primary width-100">{{'FORM.SUBMIT' | translate}}</button>
      </form>
    </div>
  </div>
</div>