<div class="sk-circle" *ngIf="isLoading">
  <div class="sk-circle1 sk-child"></div>
  <div class="sk-circle2 sk-child"></div>
  <div class="sk-circle3 sk-child"></div>
  <div class="sk-circle4 sk-child"></div>
  <div class="sk-circle5 sk-child"></div>
  <div class="sk-circle6 sk-child"></div>
  <div class="sk-circle7 sk-child"></div>
  <div class="sk-circle8 sk-child"></div>
  <div class="sk-circle9 sk-child"></div>
  <div class="sk-circle10 sk-child"></div>
  <div class="sk-circle11 sk-child"></div>
  <div class="sk-circle12 sk-child"></div>
</div>
<p class="h4 text-center" *ngIf="!isShowing && !isLoading">{{'HEADER.PREDICTION_DAY' | translate}}</p>
<div class="row" style="margin: 10px 0 0 0;" *ngIf="!isLoading">
  <div class="col-6">
    <div class="col-6">
      <form [formGroup]="currencyForm" (ngSubmit)="onClickSubmit()">
        <div class="form-group">
          <label for="code" class="col-form-label">{{'FORM.CURRENCY' | translate}}</label>
            <select id="code" name="code" class="form-control" type="text" formControlName="code">
              <option value="" selected disabled hidden>{{'FORM.CHOOSE' | translate}}</option>
              <option *ngFor="let code of currencyCodes" value="{{code}}">{{'CURRENCY.' + code | translate}}</option>
            </select>
          <label for="date" class="col-form-label">{{'FORM.END_DATE' | translate}}</label>
          <input id="date" name="date" class="form-control" type="date" formControlName="date" [min]="minDate" [max]="maxDate">
        </div>
        <button [disabled]="currencyForm.invalid" type="submit" class="btn btn-primary width-100">{{'FORM.SUBMIT' | translate}}</button>
      </form>
    </div>
  </div>
  <div class="col-6" *ngIf="isShowing">
    <p class="h4 text-center">{{'TABLE.PREDICTION_HEADER_DAY' | translate}} {{currency.ExchangeRateDate | date: 'dd.MM.yyyy'}}</p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" class="text-center width-40">{{'TABLE.CURRENCY' | translate}}</th>
          <th scope="col" class="text-center width-30">{{'TABLE.CURRENCY_CODE' | translate}}</th>
          <th scope="col" class="text-center width-30">{{'TABLE.PRICE' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center width-40 font-weight-bold">{{'CURRENCY.' + currency.Code | translate}}</td>
          <td class="text-center width-30">{{currency.Code}}</td>
          <td class="text-center width-30">{{currency.Mid}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>